* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: auto;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url(/Assets/Images/background.jpg);
    background-size: cover;
}
/*general set up for all elements in each "page"*/
.page {
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    width: 80%;
}

.intro {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.993);
    color: white;
    box-shadow: 3px 3px .2em purple
}


